/* ACF Admin Fields CSS */
.acf-left {
    clear: none !important;
    float: left !important;
    min-height: 40px !important;
}
.acf-right {
    clear: none !important;
    float: right !important;
    min-height: 40px !important;
    border-left: 1px solid #eeeeee !important;
}
