/******************************************************************

Theme Name: Eight Wire
Theme URI: https://eightwire.uk
Description: Web Design & Development
Author: Eight Wire
Author URI: https://eightwire.uk
Version: 190123
Tags: design, marketing, web development, content management

******************************************************************/

html, body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
}
.reviews_tab {
    display: none !important;
}
.shop-banner > img {
    margin: 0 auto 1.5em;
}
body {
	font-family: 'Source Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizelegibility;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}
h1 {
	font-weight: 700;
	display:block;
	color:inherit;
	padding:10px;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
}

.heading-logo {
	display:block;
	margin:30px auto;
}
h2,h3,h4,h5,h6 {
	margin: 0 0 0.5em 0;
}
h1,h2 {
	letter-spacing: 0.08em;
}
p {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 1em 0;
	letter-spacing: 0.08em;
}
a, a:link, a:visited, a:hover, a:active {
	outline: none;
	text-decoration: none;
	color: inherit;
}
article a, article a:link, article a:visited, article a:hover, article a:active {
	text-decoration: underline;
}
/*
a:focus {
	outline: 1px dotted #000;
}
a, a:visited {
	color: #C1C19D;
} */

a:hover, a:focus, a:visited:hover, a:visited:focus,
footer.footer a:hover {
	/*text-decoration: underline;*/
}

.transition-all,nav .menu li, .ta, button, input, textarea, a, .ewmodal-btn-open, .btn, path, .modalpanel, .partner-button, .footer-button, .home-banner-text, .home-banner-text > h2 {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.layouts li {
	list-style-position:inside;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.acf-fields {
    margin: 0 -12px;
}
form label {
	cursor:pointer;
}
form input[type=submit],
.btn {
	border:none;
	border-radius: 0;
	background: #2a455b;
	color:white;
	font-weight: 600;
    text-transform: uppercase;
}

.btn p {
    margin-bottom: 0 !important;
    padding: 5px 30px;
    font-size: 12px;
}
form input[type=submit]:hover,
.btn:hover {
	background: #5a6c7d;
	color: white;
}
#message {
	display:block;
	padding:10px 20px;
	border: 1px solid green;
	margin: 1em auto;
}
#message p {
	margin:0;
}
#message.updated {
	background-color:lightgreen;
}

iframe {
	max-width: 100%;
}
/* 16x9 Aspect Ratio */
.ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.ratio-4x3 {
  padding-bottom: 75%;
}

.ratio iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border:none;
}
/* CLEARFIX */
.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: ' ';
	display: table;
}
.cf:after {
	clear: both;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

/* HEADER */
header.header {
	text-align:center;
}
header.header > .wrapper {
	background-color:#fff;
}
.header-left {
	margin:0 auto 20px auto;
}
.header-right {
	margin:20px auto;
    top:-40px;
}

.header-yellow {
    padding: 0.25em;
    background-color: #d1a239;
}

/* MENUS */
nav.nav {
	clear: both;
	text-align: center;
    justify-content: flex-end;
    padding: 1em 0 0 0;
}

.menu, .sub-menu {
	list-style: none;
	padding-left: 0;
}

.sub-menu {
	display: none;
	position: absolute;
	top: 96%;
	z-index: 1;
	min-width: 100%;
    background: #fff;
}

nav ul.menu{
	color:#2A455B;
	text-transform:uppercase;
	font-family: 'Source Sans', sans-serif;
	font-weight: 400;
	padding: 0;
    margin: 0 !important;
}

nav .menu li {
	display: inline-block;
	position: relative;
	font-size:13px;
	font-weight:600;
    letter-spacing: 1.75px;
    margin: 0 2em;
}

nav .menu li.current-menu-item {
    color: #5A6C7D;
}



nav .menu > li:hover > a {
    color: #5a6c7d;
}
.menu li:hover .sub-menu {
	display: block;
}

.sub-menu > li {
	display: block;
	margin: 0;
}

nav .menu .sub-menu {
	min-width: 18em;
}

.menu li a,
#menu-primary.menu li a:hover {
/*	color: #555555;
*/}

#menu-primary li > a {
	padding: 5px 0.7vw;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing:0.05em;
}
#menu-primary li.current-menu-item > a,
#menu-primary .current-menu-ancestor > a,
#menu-primary .current-menu-parent > a {
	position:relative;
	background:#CCCCCC;
	color: #fff !important;
}
#menu-primary .sub-menu li.current-menu-item > a {
	position:relative;
	background:none;
	color: #CCCCCC !important;
}
#menu-primary li > a:hover {
	color:#555555;
}

/* MOBILE MENU */
header .wrapper .mobile-nav-open {
	display: none;
	/*color: #fff;*/
	text-align: center;
	padding: 16px 12px 12px;
}

.mobile-nav {
	position: fixed;
	width: 85%;
	max-width: 100%;
	height: 100%;
	background: #FFF;
	/*background: rgba(25, 25, 25, .9);*/
	/*color: #fff;*/
	top: 0px;
	left: -100vw;
	overflow: auto;
	z-index: 999999;
	transition: left 0.7s ease;
	border-right: 1px solid #929295;
}
.mobile-nav.active {
	left: 0;
}

.mobile-nav .ewmodal-btn-close {
	position: fixed;
	width: 85%;
	top: 0;
	left: -100vw;
	cursor: pointer;
	/*border-top: 1px solid #fff;*/
	transition: left 0.7s ease;
	padding: 16px;
}

.mobile-nav.active .ewmodal-btn-close {
	left: 0;
	top:0;
}

.mobile-nav h5 {
	margin: 0;
	font-size: 18px;
	color:#000;
}

.mobile-nav i.icon-close {
	position: absolute;
	right: 8px;
	top: 50%;
	font-style:normal;
	transform: translateY(-50%);
}

.mobile-nav i.icon-close:before {
	font-size: 26px;
}
.mobile-nav .menu-primary-container {
	text-align:center;
}
.mobile-nav ul {
	list-style:none;
	margin:0 auto;
	padding:0;
}
.mobile-nav li a {
	display:block;
	line-height:2;
	text-align:center;
    color: #2A455B;
    font-family: 'Source Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}
.mobile-nav .sub-menu {
    display: block;
    position: relative;
    top: auto;
    z-index: auto;
	background:none;
}

.mobile-nav .sub-menu li {
    text-align: center;
}

.mobile-nav .sub-menu li > a {
    display: inline-block;
}

.mobile-nav .sub-menu li::before {
    display: inline-block;
    content: '- ';
    color: #2A455B;
    font-family: 'Source Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
	line-height:2;
    font-size: 13px;
    vertical-align: middle;
    margin-right: 0.5em;
}
/* HEADER */
.sitelogo {
	max-width:175px;
    width: 225px;
	display:block;
	margin:0 2em 0 auto;
    z-index: 10;
	text-align:center;
}
.sitelogo img {
	width:100%;
}

@media only screen and (max-width: 1150px) {
    .sitelogo {
        flex-basis: 100% !important;
        margin: 0 !important;
    }
    .header-nav {
        flex-basis: 100%;
    }
    .toprow {
        justify-content: center;
    }
    .sitelogo > img {
        margin: 0 auto 1em;
    }
    nav.nav {
        justify-content: center;
    }
}

/* BANNER */
/*.banner-container {
	max-width:1920px;
	max-height: 600px;
	margin: 0 auto;
    width: 100%;
	text-align:left;
}
.home .banner-container ,
.homepage .banner-container {
	max-height: 600px;
}
.flexslider,
.flexslider.banner {
	border: 0 !important;
	margin: 0 !important;
	border-radius: 0 !important;
}
.flex-direction-nav a:before {
	display:none !important;
}
.flex-direction-nav a {
	height:52px !important;
}
.flex-direction-nav a.flex-prev {
	background-image: url(assets/images/left.png) !important;
}
.flex-direction-nav a.flex-next {
	background-image: url(assets/images/right.png) !important;
}
.flexslider_background {
	height: 600px;
	background: #fff no-repeat 50% 0 scroll;
    background-size: cover;
}
.home .flexslider_background,
.homepage .flexslider_background {
  height: 600px;
}

.flexslider_caption_wrapper {
	display: block;
	width:100%;
	color:#fff;
	max-width: 100%;
}
.flexslider_caption {
	display: block;
	color:#fff;
	text-rendering: optimizelegibility;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	line-height: 1.3;
	font-size:69px;
	text-align:center;
	padding-left:20px;
	padding-top: 204px;
	letter-spacing:0.08em;
	text-transform:none !important;
	position: absolute;
    z-index: 9999;
    text-align: center;
    width: 100%;
	cursor: default;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
	pointer-events: none;
}
.flexslider_caption_wrapper a {
	color: #fff;
    display: inline-block;
    padding: 5px 20px;
    background: none;
	margin:30px 0 0 20px;
	font-family: 'Comfortaa', cursive;
}
.flexslider_caption_wrapper a:hover {
	color: #999999;
	border: 1px solid #fff;
	background:#fff;
}*/
/* SEARCH */
.searchbar {
	background:rgba(69, 64, 64, 0.8);
	position:absolute;
	bottom:0;
	height:100px;
	width:100%;
	z-index:5;
	max-width: 1920px;
	pointer-events: none;
}
/* RATIO EMBED */

/*.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@media screen and (max-width:1067px) {
	.embed-container {
		padding-bottom: 0;
		height: 600px;
		width: 100%;
	}
}
.banner .embed-container {
	max-height: 600px;
}
.banner .embed-container iframe {
	height: 600px;
}
*/


/*https://codepen.io/cvn/pen/WbXEoX/ */
.banner .embed-container {
  position: relative;
  width:100%;
  height:600px;
}
.video-bg {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.video-bg .video-fg,
.video-bg iframe,
.video-bg video,
.video-bg .youtubevideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
  Full page video background
  Simulate object-fit: cover
  Based on http://fvsch.com/code/video-background/
*/
/*@media (min-aspect-ratio: 16/9) {
  .video-bg.cover .video-fg {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg.cover .video-fg {
    width: 300%;
    left: -100%;
  }
}
*/
@media screen and (max-width: 1082px) {
  .video-bg.cover .video-fg {
    width: 300%;
    left: -100%;
  }
}
@media screen and (min-width:1083px) {
  .video-bg.cover .video-fg {
    height: 300%;
    top: -100%;
  }
}
@supports (-o-object-fit: cover) {
  .video-bg.cover .video-fg.supports-cover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .video-bg.cover iframe,
  .video-bg.cover video,
  .video-bg.cover .youtubevideo {
    -o-object-fit: cover;
  }
}
@supports (object-fit: cover) {
  .video-bg.cover .video-fg.supports-cover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  html:not(.safari) .video-bg.cover iframe,
  html:not(.safari) .video-bg.cover video,
  html:not(.safari) .video-bg.cover .youtubevideo {
       object-fit: cover;
  }
}
/*
  Vertical centering for 16/9 youtube iframes and video elements
  Simulate object-fit: contain for entire element, not just contents of element
*/
.video-bg.contain {
  font-size: 0;
}
.video-bg.contain * {
  font-size: 16px;
}
.video-bg.contain:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.video-bg.contain .video-fg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  pointer-events: none;
}
.video-bg.contain iframe,
.video-bg.contain video {
  pointer-events: auto;
}
@media (min-aspect-ratio: 16/9) {
  .video-bg.contain .video-fg {
    height: 100%;
    padding-bottom: 0;
    max-width: 53.33333333vh;
    left: 50%;
    margin-left: -26.66666667vh;
  }
}





/* CUSTOM PAGINATION */
.custom-pagination {
	clear:both;
	margin: 30px auto 60px auto;
	text-align:center;
}
.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
  text-decoration:none !important;
}
.custom-pagination a {
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	border-radius:0;
	display:inline-block;
	padding:5px 20px;
	background:none;
	position:relative;
	text-transform:uppercase;
}
.custom-pagination a:hover {
  background-color: #CCCCCC;
  color: #fff;
}
.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}
.custom-pagination span.dots {
  padding: 0;
  color: #CCCCCC;
}
.custom-pagination span.current {
  background-color: #CCCCCC;
  color: #fff;
}
.alignleft {
	float: left;
}
.alignmid {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -69px;
}
.single-post .alignmid {
    margin-left: -85px;
}
@media screen and (max-width:570px) {
	.alignmid {
		margin-top:44px;
	}
}
.alignright {
	float: right;
}

.gmap {
	padding:0 !important;
}
.ginfo a {
	text-decoration: none !important;
}
.acf-map {
    width: 100%;
    height: 400px;
}
.acf-map img {
   max-width: inherit !important;
}
.colorize {
    -webkit-filter: sepia(100%) hue-rotate(152deg) saturate(50%);
    filter: sepia(100%) hue-rotate(152deg) saturate(50%);
}

/* FOOTER */
footer.footer {
	background: #fff;
	padding: 50px 0px 0px 0px;
	color:#000;
	font-size:14px;
    border-top: 6px solid #d1a239;
    clear: both;
}
footer.footer p,
footer.footer a {
	color: #606060;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.08em;
}
footer a:hover {
	color:#555555;
}
footer.footer p {
	margin:0 0 0.2em 0;
}
footer .wrapper {
	margin: 0 auto;
	text-align:center;
    max-width: 1600px;
    justify-content: space-between;
    margin-bottom: 3em;
}
footer .wrapper > section {
	padding: 0 10px 0 15px;
	border: 0;
	text-align:left;
}

.footernav {
    flex-basis: 20%;
}

.footercontact {
    flex-basis: 15%;
}
footer h6 {
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:0.1em;
	margin-bottom:0.5em;
	color: #555555;
}
.footercontact h6 {
	margin-bottom:19px;
}
.footerconnect h6 {
	margin-bottom:14px;
}
.footercontact p {
	padding-left: 36px;
	background:transparent url() top left no-repeat scroll;
	background-size:26px;
	min-height:36px;
}

.header-buttons > div {
    margin: 0 1em;
    width: 11em;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .header-right {
        margin-right: 10vw !important;
    }
}

@media only screen and (max-width: 959px) {
    .header-right {
        margin-left: 10vw;
    }
    .header-buttons {
        justify-content: center !important;
    }
    .header-buttons > div {
        margin-bottom: 1em;
    }
    nav.nav {
        padding: 0 !important;
    }
    
}

.footericon {
    flex-basis: 12.5%;
}

#menu-footer-menu {
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu-footer-menu > li {
    flex-basis: 46%;
}

#menu-footer-menu > li > a{
    color: #606060;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.08em;
}

#menu-footer-menu > li > a:hover {
    color: #2a455b;
}

#menu-footer-menu > li, .footercontact p, .footercontact span, .footercontact a {
    border-bottom: 1px solid #79787f;
    padding: 0.25em 0;
}

#menu-footer-menu > li:first-child, .footercontact p:first-child,
#menu-footer-menu > li:nth-child(2), .footercontact span:first-child{
    border-top: 1px solid #79787f;
}

.footercontact p, .footercontact a, .footercontact span {
    margin-bottom: 0 !important;
    line-height: 24px;
    color: #606060 !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    letter-spacing: 0.08em !important;
    display: block;
}

.footercontact a:hover {
    color: #2a455b !important;
}

.footercontact {
    padding: 0 10px 0 0px !important;
}

.footerconnect {
    flex-basis: 12.5%;
}

.footerconnect h6 {
    color: #79787f;
    padding-bottom: 0.75em;
    border-bottom: 1px solid #79787f;
    margin-bottom: 1.5em;
}

.footer-logos {
    justify-content: space-between;
    flex-basis: 14%;
    align-items: center;
}

.footer-buttons {
    flex-basis: 22%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

a.social path {
    fill: #d2a339;
}

a.social svg {
    width: 2.5em;
}

.social-icons {
    justify-content: space-between;
}

a.social:hover path {
    fill: #2a455b;
}

.footercredits {
    background-color: #2a455b;
    text-align: center;
    padding: 2em 1em;
}

.footercredits p, .footercredits a {
    color:#d6d6d6 !important;
    
}

.footercredits a:hover {
    color: #d2a339 !important;
}

.home-banner {
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 6px solid #d1a239;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.home-banner iframe,
.home-banner object,
.home-banner embed {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-banner > .banner-text,
.partner-banner-wrapper > .partner-button{
    background-color: white;
    padding: 0.5em 3em;
    position: relative;
    
}

.partner-banner-wrapper > .partner-button {
    cursor: pointer;
}

.home-banner > .banner-text p,
.partner-banner-wrapper > .partner-button > h3{
    margin-bottom: 0 !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .home-banner {
        background-size: cover;
    }
    .menu-bar > form {
        flex-basis: 100% !important;
        max-width: 400px;
        margin: 0 auto;
    }
    .menu-bar {
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
    }
}

.leaf {
    width: 2em;
    position: absolute;
    top:-1.5em;
    right: -5%;
}

.cutout-wrapper {
    background-color: #eaeaea;
}

.cutout-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1em;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}

.cutout-image {
    width: 45%;
    height: 18em;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left:1em;
    top:0;
    bottom: 0;
    margin: auto;
}

.cutout-text {
    flex-basis: 57.5%;
    background-color: white;
    padding: 3em 5em;
    margin: 3em 0;
}

.cutout-text h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.75px;
    padding-bottom: 0.5em;
    position: relative;
    display: inline-block;
}

.cutout-text p,
.trio-text-holder p{
    color: #606060;
    font-weight: 400;
    font-size: 13px;
    margin-top: 1.5em;
}

.cutout-leaf {
    position: absolute;
    width: 2.5em;
    right: -2.75em;
    top: -2em;
}

.blue-hr {
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top: 3px solid #5a6c7d;
}

.cutout {
    width: 100%;
    height: 100%;
    border: 5px solid white;
    position: absolute;
    left:-5%;
    bottom: -5%;
    z-index: -1;
}

@media only screen and (max-width: 960px) {
    .cutout-content {
        justify-content: center !important;
    }
    .cutout-text {
        flex-basis: 100%;
        margin-top: 0 !important;
    }
    .cutout-image {
        position: relative;
        flex-basis: 100%;
        margin: 1em 0 2em;
        left: inherit;
        max-width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .cutout-image {
        height: 10em !important;
        background-size: contain;
    }
    .cutout-text {
        padding: 2em;
    }
}

@media only screen and (max-width: 600px) {
    .cutout {
        display: none;
    }
}

.text-img-wrapper {
    max-width: 1100px;
    margin: 0 auto 2em;
    padding: 2em 1em; 
    justify-content: space-between;
    align-items: center;
}

.text-img-wrapper:last-child {
    margin-bottom: 3em;
}

.text-img-wrapper > div {
    flex-basis: 45%;
}

.layout-leaf {
    max-width: 4em !important;
    margin-bottom: 1.5em;
}

.layout-leaf.right {
    position: relative;
    left: 80%;
}

.layout-text {
    border-bottom: 3px solid #5a6c7d;
}

.layout-text p {
    color: #606060;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.08em;
}

.page-content,
.page-content p {
    color: #606060;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.08em;
}

@media only screen and (max-width: 960px) {
    .text-img-wrapper > div {
        flex-basis: 100%;
    }
    .text-img-wrapper {
        padding: 0 1em !important;
        justify-content: center;
    }
    .text-img-wrapper > .layout-img img {
        margin: 1em auto;
    }
    .layout-leaf.right {
        position: inherit !important;
    }
    .layout-img {
        order: -1;
    }
}

.products-header {
    background-color: #2a455b;
    padding: 2em 3em;
}

.products-header h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.75px;
    font-size: 16px;
    margin-bottom: 0 !important;
    margin: 0 auto;
    position: relative;
    max-width: 25em;
    margin-top: 0.75em;
}

.product-leaf {
    position: absolute;
    width: 2.5em;
    right: -2em;
    top: -2em;
}
li.product:after {
    content: "";
    border-bottom: 1.25px solid #5A6C7D;
    margin-top: 10px;
    display: block;
}
.product-images {
    margin-bottom: 1.5em;
}

.product-images > div {
    flex-basis: 25%;
    height: 20vw;
    background-repeat: none;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .product-images > div {
        flex-basis: 50%;
        height: 40vw;
    }
}
figure.woocommerce-product-gallery__wrapper {
    height: 100% !important;
}
.woocommerce div.product div.images .flex-control-thumbs {
    margin: 2% -1% 0 -1% !important;
    width: 102% !important;
}
.woocommerce div.product div.images .flex-control-thumbs li {
    padding: 0 1% !important;
}
.woocommerce div.product div.images.woocommerce-product-gallery.hascontrolnav {
    margin-bottom: 30% !important;
}      
@media only screen and (min-width: 769px) {
    .woocommerce div.product div.images.woocommerce-product-gallery.hascontrolnav {
        margin-bottom: 15% !important;
    }      
}
@media only screen and (min-width: 1152px) {
    /*.woocommerce-product-gallery.hascontrolnav figure.woocommerce-product-gallery__wrapper > div ,*/
    figure.woocommerce-product-gallery__wrapper > div {
        outline: 1px solid #EAEAEA;
    }
    figure.woocommerce-product-gallery__wrapper > div > a {
        display: block !important;
       text-align: center !important;
    }
    figure.woocommerce-product-gallery__wrapper > div > a > img {
        max-height: 40vh !important;
        overflow: hidden !important;
        margin-bottom: -7px;
        width: auto !important;
        max-width: 100% !important;
        display: inline-block !important;
    }
    .woocommerce .woocommerce-product-gallery__trigger {
        position:absolute !important;
        z-index:9 !important;
        width:100% !important;
        height:100% !important;
        text-indent:-9999px !important;
        box-sizing:content-box !important;
        border-radius: 0 !important;
        background: none !important;
        top: 0 !important;
        right: 0 !important;
        cursor: zoom-in;
    }
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger::before{
        content:none !important;
    }
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger::after{
        content:none !important;
    }    
    .woocommerce div.product div.images .flex-control-thumbs {
        z-index: 999 !important;
        position: relative !important;
        bottom: 0 !important;
        background: #fff !important;
    }
}
.page-banner {
    background-color: #2a455b;
    padding: 2em 3em;
    border-bottom: 6px solid #d1a239;
}
.woocommerce.single-product .page-banner {
    padding: 10px 3em 19px 3em;
}

.page-banner-breadcrumbs {
    padding: 0 calc(8.5vw - 3em);
}
.page-banner-breadcrumbs > nav {
    margin: 0 !important;
}
.page-banner-breadcrumbs * {
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 14px !important;
}
.woocommerce .poprec .page-banner {
    border: none;
    min-height: 88px;
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
      -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.page-banner h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.75px;
    font-size: 16px;
    margin: 0 auto !important;
    position: relative;
	line-height: 1.5;
}

.page-banner p {
    max-width: 750px;
    margin: 2.5em auto 0;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
}
.page-banner p:empty {
    display: none;
}
.banner-leaf {
    position: absolute;
    width: 2.25em;
    right: -3em;
    /*top: -1.5em;*/
	bottom: 0;
	margin-top:-2.5em;
}

.img-trio-wrapper {
    background-color: #eaeaea;
}

.img-trio-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0em 1em 3em; 
    justify-content: flex-end;
    position: relative;
}

.img-trio {
    position: absolute;
    justify-content: space-between;
    width: 50%;
    height: 450px;
    left: 0;
    top: 3em;
}

.img-trio > div {
    flex-basis: 45%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-trio > .grow {
    flex-grow: 1;
}

.trio-text-holder {
    flex-basis: 55%;
    background-color: white;
    padding: 6em 5em 5em 5em;
}

.trio-text-holder h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.75px;
    padding-bottom: 0.5em;
    position: relative;
    display: inline-block;
}

@media only screen and (max-width: 960px) {
    .img-trio {
        position: inherit !important;
        flex-basis: 100% !important;
        margin-bottom: 3em;
    }
    .trio-text-holder {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .img-trio {
        height: 250px;
    }
    .trio-text-holder {
        padding: 2em;
    }
}

@media only screen and (max-width: 960px) {
    #menu-shop-menu {
        display: none !important;
    }
    #menu-primary-menu {
        display: none !important;
    }
}

.partner-banner-wrapper {
    background-color: #d1a239;
    padding: 3em;
    margin-bottom: 1em;
}

.blue-leaf {
    width: 2em;
    position: absolute;
    top:-1.5em;
    left: -15%;
}

.partner-banner-wrapper > .partner-button {
    max-width: 15em;
    padding: 0.75em 3em;
    margin: 0 auto;
}

.vendor-banner,
.contact-banner{
    background-color: #2A455B;
}

.vendor-button-container,
.contact-banner-container{
    max-width: 1000px;  
    margin: 0 auto;
    background-color: #2A455B;
    padding: 2em 3em;
}

.contact-banner-container > h3 > .left-leaf {
    left: -2.75em;
}

.vendor-button-container .yellow-btn {
    background-color:#d1a239;
    max-width: 20em;
    margin: 0 auto;
}

.vendor-button-container .yellow-btn a {
    text-decoration: none !important;
}

.vendor-button-container .yellow-btn p {
    text-align: center;
    font-size: 12px;
    padding:0.75em;
}

.lrg-img-text-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 3em 1em;
    justify-content: space-between;
}

.lrg-img-text-wrapper > .img {
    flex-basis: 60%;
}

.lrg-img-text-wrapper > .text{
    flex-basis: 37%;
    color: #474747;
    border-left: 1px solid #606060;
    padding-left: 2em;
}

.lrg-img-text-wrapper > .text p{
    font-weight: 400;
    font-size: 12px;
}

@media only screen and (max-width: 1000px) {
    .lrg-img-text-wrapper > div {
        flex-basis: 100% !important;
        margin-bottom: 1.5em;
    }
    .lrg-img-text-wrapper > .text {
        border-left: none !important;
    }
}

.contact-banner-container h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.75px;
    font-size: 16px;
    margin-bottom: 0 !important;
    margin: 0 auto;
    position: relative;
    max-width: 25em;
    margin-top: 0.75em;
}

.left-leaf {
    position: absolute;
    width: 2.5em;
    left: 0;
    top: -2em;
}

.contact-wrapper {
    background-color: #eaeaea;
    padding: 2em 0;
}

.contact-form {
    max-width: 850px;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
}

.contact-form p:not(:nth-last-child(4)) {
    flex-basis: 45%;
}

.contact-form p:nth-last-child(4) {
    flex-basis: 100%;
}

.contact-form label,
#news-modal label{
    font-weight: 500;
    font-size: 12px;
    color:#5e5e5e;
}

.contact-form .wpcf7-form {
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wpcf7 input,
.wpcf7 textarea{
    border: 1px solid #c4c4c4 !important;
    padding: 0.75em !important;
    resize: none;
}

.wpcf7 .wpcf7-submit {
    background-color: #d1a239 !important;
    border: none !important;
    color: white !important;
    font-family: 'Source Sans', sans-serif !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    letter-spacing: 1.75px;
    padding: 1em 2em !important;
}

.wpcf7 .wpcf7-submit:hover {
    background-color:#2a455b !important;
}

.page-content,
.content-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
.woocommerce .page-content {
    max-width: 1920px;
    padding: 70px 8.5vw;
	overflow: hidden;
}
.woocommerce.single-product .page-content {
    max-width: 100%;
    overflow: hidden;
}
.woocommerce .woo-wrap ,
.woocommerce .woo-wrap p {
    font-family: 'Source Sans', sans-serif;
    font-size: 14px;
    color: #5e5e5e;
}
.wpfFilterWrapper {
    margin-top: 0 !important;
    margin-bottom: 24px !important;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}
.woocommerce .wpfFilterWrapper .wfpTitle {
    font-size: 16px;
    font-weight: 700;
}
.woocommerce .wpfFilterWrapper .wpfCheckbox label {
    width: 14px !important;
    height: 14px !important;
    top: 2px !important;
}
.woocommerce .wpfFilterWrapper .wpfCheckbox label::before {
    border-width: 2px !important;
    border-color: #6B6B6B !important;
}
.woocommerce .wpfFilterWrapper .wpfPriceInputs {
    text-align: left !important;
    overflow: hidden !important;
    text-indent: -8px !important;
}
.ui-slider.ui-widget-content:not(.iris-slider-offset) {
    border: none !important;
}
.woocommerce .ui-slider .ui-slider-range {
    background: #D2D2D2 !important;
     -webkit-box-shadow: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    height: 5px !important;
    padding: 0 !important;
}
.woocommerce .ui-slider.ui-widget-content .ui-slider-handle {
    background: #6B6B6B !important;
    border: none !important;
    border-radius: 50% !important;
    width: 15px;
    height: 15px;
}
.woocommerce .wpfPriceRangeField#wpfMinPrice, 
.woocommerce .wpfPriceRangeField#wpfMaxPrice {
    border-radius: 0 !important;
    border-color: #D2D2D2 !important;
    color: #A3A3A3 !important;
}
.transition-all, nav .menu li, .ta, button, input, textarea, a, .ewmodal-btn-open, .btn, path, .modalpanel, .partner-button, .footer-button, .home-banner-text, .home-banner-text > h2 {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input {
    line-height: normal;
}
.woocommerce .woo-wrap > aside ,
.woocommerce .woo-output {
    flex-basis: 100%;
    width: 100%;
}
.woocommerce .woo-wrap > aside ,
.woocommerce .woo-wrap > aside p {
    color: #6B6B6B;
}
.woocommerce.search .woo-wrap > aside ,
.woocommerce.single-product .woo-wrap > aside ,
.woocommerce.post-type-archive.product .woo-wrap > aside ,
.woocommerce .woo-wrap > aside .fa-chevron-up ,
.woocommerce .woo-wrap > aside .fa-chevron-down {
    display: none !important;
}
.woocommerce .woo-output {
    position: relative;
    flex-basis: 100%;
}
.woocommerce.search .woo-output ,
.woocommerce.single-product .woo-output ,
.woocommerce.post-type-archive-product .woo-output {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
}
.woocommerce.single-product .woo-output {
    max-width: 1440px;
    margin: 0 auto;
}
.woocommerce.single-product .page-banner-breadcrumbs {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}
.woocommerce .woo-output .woocommerce-result-count {
    max-width: 200px;
    overflow: hidden;
    text-indent: -89px;
    color: #6B6B6B;
}

.woocommerce .woo-output .wpfMainWrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("/wp-content/themes/eightwire/assets/images/select.png") 90% 50% no-repeat scroll;
    background-size: 12px;
    border: 1px solid #fff;
    color: #6B6B6B;
    border-radius: 0;
    text-transform: none;
    padding: 5px 30px 5px 10px;
    cursor: pointer;
    margin: 0;
    outline: none;
    position: relative;
    width: 100%;
    max-width: 150px;
    float: right;
    text-align-last: right;
}
.woocommerce .woo-output .wpfMainWrapper select:hover {
    border: 1px solid #D2D2D2;
}
.woocommerce.post-type-archive-product .woo-output .wpfMainWrapper ,
.woocommerce.single-product .woo-output .wpfMainWrapper {
    display: none !important;
}
.page-id-496 aside .textwidget {
    display: none;
}
.woocommerce .page-title,
.woocommerce .term-description {
    display: none;
}
ul.products .spinner, 
.la-spinner {
    background-image: url(/wp-content/themes/eightwire/assets/images/leaf.svg) !important;
}
.poprec .wpfPreview,
.poprec .spinner { visibility:hidden !important; }

.poprec .wpfPreview:before { content: "Clear filters to view" !important; visibility: visible !important; white-space: nowrap; color: #2A455B !important; font-size: 14px !important; }
.woocommerce ul.products li.product {
	min-width: 100% !important;
}
@media screen and (min-width: 460px) {
	.woocommerce ul.products li.product {
		min-width: 164px !important;
	}
}
.woocommerce ul.products li.product > a:first-child::before {
	content : "";	
	background: rgba(255,255,255,0);
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    transition: background 0.25s ease-in-out;
}
.woocommerce ul.products li.product > a:first-child:hover::before {
    background: rgba(255,255,255,0.6);
}
mark {
    background: none !important;
    font-weight: bold;
}
.woocommerce ul.products li.product > a:first-child::after {
	content:"+";
	position:absolute;
	left:50%;
	top:26%;
	width: 48px;
	height: 46px;
	margin: -23px 0 0 -24px;
	z-index: 10;
	border: 1px solid #D1A239;
	border-bottom-width: 2px;
    border-radius: 2px;
	font-family: 'Source Sans', sans-serif;
    color: #D1A239;
    font-size: 45px;
	padding: 7px 0 0 3px;
    text-align: center;
    font-weight: bold;
	opacity:0;
	transition: opacity 0.25s ease-in-out;
}
.woocommerce ul.products li.product > a:first-child:hover::after {
	opacity:1;
}
.woocommerce ul.products li.product h2,
.woocommerce ul.products li.product span {
	position:relative;
	z-index: 20;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .showcoupon,
.woocommerce input[type="submit"].dokan-btn-theme, 
.woocommerce a.dokan-btn-theme, 
.woocommerce .dokan-btn-theme {
    display: inline-block;
    margin: 0;
    font-weight: 600;
    font-family: 'Source Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.5px;
    background: #D6AC41 !important;
    background-color: #D6AC41 !important;
    border-color: #D6AC41 !important;
    border: none !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: .6em 1.5em !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, 
.woocommerce input[type="submit"].dokan-btn-theme:hover, 
.woocommerce a.dokan-btn-theme:hover, 
.woocommerce .dokan-btn-theme:hover {
    background: #2A455B !important;
    background-color: #2A455B !important;
    border-color: #2A455B !important;
    color: #fff !important;
}
@media screen and (max-width:960px) {
	.woocommerce .woocommerce-message .button {
		float:none !important;
		display: block !important;
		max-width:205px;
	}
}
.woocommerce a.button.wc-backward {
	margin-bottom: 3em;
}
.woocommerce ul.products li.product:hover, 
.woocommerce-page ul.products li.product:hover {
    background-color: #f9f9f9;
    outline: 5px solid #f9f9f9;
}
.woocommerce span.onsale {
    width: 45px;
    height: 45px;
	position: absolute !important;
	z-index: 30;
    text-transform: uppercase;
}
.woocommerce .woocommerce-loop-product__title ,
.woocommerce ul.products li.product .price,
.woocommerce.single-product .summary .price {
    text-transform: uppercase;
    color: #2A455B;
    font-weight: 600;
    font-size: 14px !important;
    letter-spacing: 2px;
    padding: 0 !important;
    margin: 0 0 0.2em 0 !important;
}
.woocommerce .shopname {
    text-transform: uppercase;
    color: #2A455B;
    font-family: 'Source Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.75px;
}
.woocommerce.single-product .summary .shopname {
    margin: 1em 0;
    display: block;
}
.woocommerce.single-product .summary .quantity:before {
    content: "Quantity";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: block;
}
.woocommerce.single-product .summary .sku_wrapper {
    display: none;
}
.woocommerce.single-product .summary .posted_in {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.woocommerce.single-product .summary .posted_in a {
    display: inline-block;
    text-transform: none;
}
.woocommerce .add_to_cart_button,
.woocommerce.single-product .summary .single_add_to_cart_button {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2em;
}
.woocommerce.single-product .page-banner-header ,
.woocommerce.single-product .page-banner>p {
    display: none !important;
}
.woocommerce.single-product div.product form.cart .button {
    margin-top: 1em !important;
    clear: both !important;
}
.woocommerce .poprec .related.products h2 {
    display: none !important;
}
.woocommerce .dokan-store-tabs ul ,
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding:0;
    border-bottom:1px solid #657788
}
.woocommerce .dokan-store-tabs ul li:not(.dokan-right)::before,
.woocommerce .dokan-store-tabs ul li:not(.dokan-right)::after,
.woocommerce .dokan-store-tabs ul::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    display:none;
}
.woocommerce .dokan-store-tabs ul li:not(.dokan-right),
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background:#657788;
    border: 0;
    border-radius:0;
    margin-right: 5px;
}
@media screen and (max-width:1280px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		margin: 0 5px 5px 0;
		width: calc(100% / 3 - 10px);
	}
}
@media screen and (max-width:960px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		margin: 0 5px 5px 0;
		width: calc(100% / 2 - 10px);
	}
}
@media screen and (max-width:639px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		margin: 0 0 5px 0;
		min-width: 100%;
	}
}
.woocommerce .dokan-store-tabs ul li:not(.dokan-right) a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding:0.5rem 1rem;
    color :#fff;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: 700;
}
.woocommerce .dokan-store-tabs ul li:not(.dokan-right).active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background:#304E66;
    color:#fff;
}
.woocommerce .dokan-store-tabs ul li:hover:not(.dokan-right),
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
    background: #D6AC41 !important;
    color: #fff;
}
.woocommerce .dokan-store-tabs ul li:hover:not(.dokan-right) a {
    background: #D6AC41 !important;    
    color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a {
    color: #fff;
}
.dokan-single-store .dokan-store-tabs ul li {
    border: none !important;
    margin: 0 10px 0 0 !important;
}
.dokan-single-store .dokan-store-tabs ul li.dokan-right {
    margin: 0 0 0 10px !important;
}
.dokan-single-store .dokan-store-tabs ul li button {
    margin: 0 !important;
    line-height: 25px;
}
#dokan-primary.dokan-single-store {
    width: 100%;
}
.store-page-wrap h1.store-name ,
.dokan-store main>nav.woocommerce-breadcrumb ,
.dokan-store aside .widget {
    display: none !important;
}
.woocommerce.single-product div.product .product_title,
.woocommerce-Tabs-panel > h2:first-of-type,
.woocommerce-Reviews-title {
    text-transform: uppercase;
    color: #304E66;
    font-weight: 600;
    font-size: 18px !important;
    letter-spacing: 0.2em;
    text-align: left;
}
.woocommerce-notices-wrapper,
.woocommerce-form-coupon-toggle {
    background-color: #E9E9E9;
}
.woocommerce-message,
.woocommerce-info {
    max-width:1560px;
    margin: 0 auto;
    padding: 1.6em 100px;
    background: none;
    border:none;
    text-transform: uppercase;
    color: #304E66;
    font-weight: 400;
    font-size: 14px !important;
    letter-spacing: 0.2em;
}
.woocommerce-message:before {
    color: #fff;
    background-color: #D6AC41;
    border-radius: 50%;
    height:14px;
    width:14px;
    line-height: 14px;
    left:60px;
    top:50%;
    margin-top:-10px;
}
@media screen and (max-width:767px) {
	.woocommerce-message,
	.woocommerce-info {
		line-height: 1.2 !important;
	}
	.woocommerce-message a,
	.woocommerce-info a {
		margin: 1em 0 !important;
	}
}
.woocommerce-notices-wrapper,
.woocommerce-form-coupon-toggle {
    margin: -70px -12.5vw 70px -12.5vw;
}
.woocommerce-notices-wrapper + .woocommerce-form-coupon-toggle {
    margin: -140px -12.5vw 140px -12.5vw;
}
.woocommerce-error li {
    padding: 0 20px !important;
	margin: 0 auto !important;
	max-width: 1353px !important;
}
.woocommerce-info::before {
    top: 50%;
    margin-top: -27px;
}
.woocommerce-form-coupon-toggle .woocommerce-info:before {
    margin-top: -12px;
    margin-left: 50px;
}
.woocommerce form.checkout h3 {
    text-transform: uppercase;
    color: #304E66;
    font-weight: 600;
    font-size: 14px !important;
    letter-spacing: 0.2em;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}
.woocommerce form.checkout input[type="text"] ,
.woocommerce form.checkout input[type="tel"] ,
.woocommerce form.checkout input[type="email"] ,
.woocommerce form.checkout textarea {
    border: 1px solid #D2D2D2 !important;
    padding:10px !important;
}
.woocommerce .flex-direction-nav a {
    opacity:1 !important;
    text-indent: -999em !important;
    text-align: left !important;
    background-size: contain !important;
}
.woocommerce .flex-direction-nav a.flex-prev {
    background: transparent url("assets/images/left2.png") 50% 50% no-repeat scroll;
}
.woocommerce .flex-direction-nav a.flex-next {
    background: transparent url("assets/images/right2.png") 50% 50% no-repeat scroll;
}
.woocommerce .flex-direction-nav a:before {
    content: none !important;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::before {
    border-color: #D6AC41 !important;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::after {
    background-color: #D6AC41 !important;
}
#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
    width: 100px !important;
}
.woocommerce a.remove {
    color: #B2B2B2 !important;
}
.wc-tab {
    padding: 50px !important;
}
.woocommerce table.shop_table,
.cart_totals{
    border-color: #D2D2D2 !important;
    font-family: 'Source Sans', sans-serif;
    font-size: 14px;
    color: #5e5e5e;
}
.woocommerce table.shop_table thead,
.cart_totals h2{
   text-transform: uppercase;
    color: #304E66;
    letter-spacing: 0.2em;
    font-weight: 600;
}
.cart_totals h2 {
    font-size: 18px;
}
.woocommerce-Price-amount {
    font-weight: 700;
}
.cart-subtotal, .order-total {
    text-transform: uppercase;
    font-weight: 600;
    color: #304E66;
}
.woocommerce-Price-amount {
    font-weight: 600;
    color: #6B6B6B;
    font-size: 18px;
}
.woocommerce-checkout-review-order-table .product-total .woocommerce-Price-amount,
.shop_table .product-price .woocommerce-Price-amount {
    font-weight: 400;
}
.shop_table .product-name {
    font-weight: 700;
}
.cart-subtotal .woocommerce-Price-amount {
    font-weight: 400;
}
.woocommerce .shop_table td.product-name dl.variation dd p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.wc-backward, .checkout-button {
    font-size: 14px !important;
}
.cart_totals {
    max-width: 500px !important;
}
.cart_totals th ,
.cart_totals td {
    width: 50% !important;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding: 5px 10px 5px 10px;
    min-width: 110px;
}
@media screen and (max-width:432px) {
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		min-height: 42px;
	}
}
@media screen and (min-width:769px) and (max-width:1279px) {
	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
		margin-right: 3.8% !important;
	}
	.woocommerce ul.products li.last, .woocommerce-page ul.products li.first {
		clear: none !important;
	}
}
#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
    background: #fff !important;
    border-radius: 0 !important;
    color: #6B6B6B !important;
}
#add_payment_method #payment > *, 
.woocommerce-cart #payment > *, 
.woocommerce-checkout #payment > * {
    padding: 0 !important;
}
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active, 
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover, 
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active, 
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover {
    background-color: #D6AB41 !important;
}
body.dokan-dashboard .dokan-dash-sidebar, 
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu {
    background-color: #304E66 !important;
}
@media screen and (min-width:768px) {
    .woocommerce .woo-wrap {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: box; /* for flexie.js IE6-9 */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
    .woocommerce .woo-wrap > aside {
        flex-basis: 300px;
        width: 300px;
    }
    .woocommerce .woo-wrap > aside .sticky {
        position:-webkit-sticky;
        position: sticky;
        top: 50px;
    }
    .woocommerce .woo-output {
        margin-left: 50px !important;
        border-left: 1px solid #304E66 !important;
        padding-left: 50px !important;
        flex-basis: auto;
        width: auto !important;
    width: 100%;
    }
    .woocommerce .woo-output .woocommerce-result-count {
        position: absolute;
        top: -46px;
        left:50px;
        z-index: 1;
        font-weight: 400;
    }
    .woocommerce .woo-output .wpfMainWrapper {
        position: absolute;
        top: -55px;
        right:0;
        z-index: 1;
        max-width: 200px;
    }
}
@media only screen and (max-width: 550px) {
    .contact-form p {
        flex-basis: 100% !important;
    }
}

.header-buttons .btn {
    cursor: pointer;
}

.modalpanel {
    position: fixed;
    top:-150vh;
    width: 30%;
    background-color: white;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5em 1em;
}

.modalpanel.active {
    top: 5em;
}

@media only screen and (max-width: 500px) {
    .modalpanel.active {
        top: 2em;
    }
}

.modalpanel h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.75px;
    margin-bottom: 1.5em;
}

#news-close, #partner-close {
    position: absolute;
    top:0;
    right: 0;
    padding: 0.5em;
    cursor: pointer;
}

#news-modal .wpcf7-submit,
#partner-modal .wpcf7-submit{
    display: block !important;
    margin: 0 auto !important;
}

@media only screen and (max-width: 1000px) {
    .modalpanel {
        width: 75% !important;
    }
}

.partner-button:hover {
    background-color: #2a455b;
    color: white;
}

#partner-modal .contact-form {
    padding: 0.5em !important;
}


























/* CF7 */
div.wpcf7 input,
div.wpcf7 textarea {
	width:100%;
	border:1px solid #666666;
	color:#666666;
	padding:5px 10px;
}
div.wpcf7 textarea {
	max-height:8em;
	overflow:auto;
}
div.wpcf7 input::placeholder,
div.wpcf7 textarea::placeholder {
	color:#999999;
}
div.wpcf7 input[type="submit"]{
	width:auto;
	color:#CCCCCC;
	padding:10px 30px;
	font-weight:400;
	background:none;
	font-size:16px;
	border: 1px solid #CCCCCC;
	font-family: 'Comfortaa', cursive;
}
div.wpcf7 input[type="submit"]:hover{
	width:auto;
	color:#fff;
	background: #CCCCCC;
}

/* MODAL */
html.locked {
	overflow: hidden;
}

.modal-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.4s ease;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
}
.modal-bg.active {
	visibility: visible;
	opacity: 1;
}

.modal-window {
	background: #fff;
	position: fixed;
	top: -100vh;
	left: 50%;
	bottom: auto;
	transition: visibility 0.2s ease, top 0.4s ease;
	transform: translate(-50%, -50%);
	z-index: 99999;
	width: 80%;
	height: 80%;
	overflow-y: scroll;
	padding: 30px;
	padding-right: 70px;
	color: #000;
}
.modal-window.active {
	top: 50%;
	visibility: visible;
}

.ewmodal-btn-open {
	cursor: pointer;
}

.ewmodal-btn-open:hover {
	/*color: #eace76;*/
}

.modal-close {
	float: right;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 58px;
	/*height: 52px;*/
	cursor: pointer;
	text-align: center;
	color: #5e5e5e;
	transition: color 0.2s ease;
}
.modal-close:hover {
	color: #000;
}

.modal-close span {
	font-size: 24px;
}

button.modal-open {
	margin-bottom: 10px;
	border-radius: 3px;
}

/* MISC */
a.button,
.ewbtn {
	display: block;
	padding: 8px;
	border: 1px solid;
	margin: 12px;
}

i.icon {
	font-size: 38px;
}

/* Media Queries */
@media screen and (max-width: 960px) {
	header #menu-shop-menu ,
	header #menu-main-menu ,
    header #menu-primary-menu {
        display: none !important;
    }

	header .wrapper .mobile-nav-open {
		display: block;
		position: fixed;
		top: 20px;
		left:0;
		z-index:20;
		cursor:pointer;
	}
	.admin-bar header .wrapper .mobile-nav-open {
		top: 60px;
	}
}
@media screen and (max-width: 1366px) {
	footer .wrapper {
		-webkit-flex-wrap: wrap !important;
		-ms-flex-wrap: wrap !important;
		flex-wrap: wrap !important;
	}
	footer .wrapper > section {
		margin-bottom:20px;
	}
}
@media screen and (max-width: 783px) {
	.admin-bar header .wrapper .mobile-nav-open {
		top: 66px;
	}
}

.toprow {
    padding: 0.5em 1em;
    margin: 0 7.5vw;
    align-items: center;
}

.header-buttons {
    justify-content: flex-end;
}

@media screen and (min-width: 960px) {
	.toprow {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
		display: box; /* for flexie.js IE6-9 */
		display: -ms-flexbox; /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.header-left {
		text-align:left;
		margin-left: 10vw !important;
		flex: 1;
	}
	.header-right {
		margin-right: 20vw;
		flex: 1;
		text-align: right;
        max-width: 50%;
        position: absolute;
        right: 0;
        z-index: 10;
	}
	.header-right .social {
		display:inline-block;
	}
	.header-right .btn-booknow {
		margin-left:40px;
	} 
	.sitelogo {
		flex: 1;
		margin:0 auto 0 0;
	}
}
@media screen and (min-width: 640px) {
	nav.nav {
		position:relative;
		z-index:5;
	}
	nav .menu>li {
		margin: 0 1vw;
	}
}

/* FLEX - No styles below this */
.flex {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: box; /* for flexie.js IE6-9 */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flexcol {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flexrow {
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flexdirection {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;
}
.flexdirectionreverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
.flexstretch {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: stretch;
	justify-content: space-between;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.flexstart {
	-webkit-box-pack: space-between;
	-moz-box-pack: space-between;
	box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: flex-start;
	align-content: flex-start;
	-webkit-box-align: flex-start;
	-moz-box-align: flex-start;
	box-align: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
.flexwrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexfirst {
	-webkit-box-ordinal-group: 0;
	-moz-box-ordinal-group: -1;
	box-ordinal-group:-1;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}
.flexorder {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 0;
	box-ordinal-group:0;
	-webkit-order: 0;
	-ms-flex-order: -1;
	order: -1;
}
.flexi {
	-webkit-box-flex: 1;
	-moz-box-flex: 1 0 auto;
	box-flex:1 0 auto;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	word-wrap:break-word;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
.flexone {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
	flex: 1 1 auto;
}
.flexiq {
  flex: 1 0 25%;
}
.flexistretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.flexaround {
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
    justify-content: space-around;
}
.flexcenter {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.flexend {
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
}

.flexvcenter {
	-webkit-align-items: center;
	align-items: center;
}

/* THEY ARE ONLY TO KEEP THEME CHECKER HAPPY */
/*.sticky {}
.gallery-caption {}
.bypostauthor {}*/

/*@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a, a:link, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a:after, a:visited:after {
		content: " (" attr(href) ")";
	}
	a abbr[title]:after, a:visited abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2,  h3 {
		page-break-after: avoid;
	}
	.searchform,  nav {
		display: none;
	}
}*/

.header-shop {
    justify-content: flex-end;
    padding: 0 0 0.5em 0;
}

.header-shop > div {
    height: 100%;
}

.menu-bar > form {
    flex-basis: 35%;
}

.menu-bar input[type="text"] {
    width: 100%;
}

@media only screen and (min-width: 1151px) {
    nav.nav > ul > li:first-child {
        margin-left: 0 !important;
    }
    nav.nav > ul > li:last-child {
        margin-right: 0 !important;
    }
}

.basket-btn > img {
    display: inline-block;
    width: 1.5em;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.basket-btn {
    margin-left: 0.5em;
    background: #5A6C7D;
    padding:0.6em 2em 0.25em 2em;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    color: white !important;
    line-height: 26px;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.basket-btn:hover,
.account-btn:hover{
    background: #D1A239;
}

.account-btn {
    margin-left: 0.5em;
    background: #2A455B;
    padding: 0.25em 2em;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    color: white !important;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 26px;
}

@media only screen and (max-width: 1150px) {
    .header-shop {
        justify-content: center;
    }
    .header-shop >* {
        flex-basis: 100% !important;
        margin: 0 0 0.5em !important;
        max-width: 300px;
    }
}

.menu-popout-wrap > a > img {
    margin: 0 auto;
    max-width: 250px;
}

@media only screen and (max-width: 1150px) {
    .menu-bar > form {
        flex-basis: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .menu-bar > ul {
        flex-basis: 100%;
        justify-content: center !important;
    }
    .toprow {
        margin: 0 2em !important;
        padding: 0.5em 0 !important;
    }
    .menu-bar {
        padding: 0.5em 2em !important;
    }
}

.menu-bar {
    background: #5A6C7D;
    padding: 0.25em 8.5vw;
    justify-content: space-between;
    align-items: center;
}

.menu-bar > #menu-primary-menu {
    display: flex;
    margin: 0 !important;
    justify-content: flex-end;
}

#menu-primary-menu {
    color: white;
    text-transform: uppercase;
    font-family: 'Source Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1.75px;
}

#menu-primary-menu > li {
    margin: 0 2em;
    padding: 1em 0;
}

#menu-primary-menu > li:first-child {
    margin-left: 0;
}

#menu-primary-menu > li:last-child {
    margin-right: 0;
}

#menu-primary-menu > li > a:hover {
    color: #D1A239;
}

#menu-primary-menu > li > a {
    position: relative;
}

#menu-primary-menu  > li.current-menu-item > a:after,
#menu-primary-menu > li.current-menu-ancestor > a:after{
    display: block;
    content: "";
    width: 0.75em;
    height: 1em;
    margin: 0 auto;
    background: url(assets/images/white-nav-arrow.svg) no-repeat;
    position: absolute;
    left: 0;
    right: 0;
}

#menu-primary-menu > li.current-menu-item > a:hover,
#menu-primary-menu > li.current-menu-ancestor > a:hover {
    color: white !important;
}

.menu-bar > form {
    max-width: 300px;
}

#menu-shop-menu {
    padding: 0 !important;
    list-style: none;
    justify-content: flex-end;
    display: flex;
}

#menu-shop-menu  li > a {
    color: #fff;
    font-family: 'Source Sans', sans-serif;
    font-size:13px;
	font-weight:500;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    display: block;
}

#menu-shop-menu > li {
    margin: 0 2em;
    position: relative;
}


#menu-shop-menu > li > a:hover {
    color: #D1A239;
}

#menu-shop-menu > li:first-child > a {
    margin-left: 0 !important;
}

#menu-shop-menu > li:last-child > a {
    margin-right: 0 !important;
}

#menu-shop-menu .sub-menu {
    top: 100%;
    padding-top: 0.9em;
}

#menu-shop-menu .sub-menu li {
    color: white !important;
    text-align: left;
    background: #D1A239;
    padding: 0.75em 1em;
    margin: 0 !important;
    width: 100%;
}

#menu-shop-menu .sub-menu li > a {
    color: white;
}

#menu-shop-menu .sub-menu li > a:hover {
    color: #2A455B;
}

.footer-button {
    background: #2A455B;
    flex-basis: 49%;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-family: 'Source Sans', sans-serif;
    color: white !important;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding: 0.25em 0.75em;
    cursor: pointer;
}

#partner-btn, #newsletter-btn {
    background: #5A6C7D;
}

.footer-button:hover {
    background: #D1A239 !important;
}

@media only screen and (max-width: 1450px) {
    .footericon, .footerconnect {
        flex-basis: 25%;
    }
    .footericon {
        max-width: 200px;
    }
    .footernav {
        flex-basis: 40%;
        max-width: 450px;
    }
    .footercontact {
        flex-basis: 30%;
        max-width: 450px;
        padding: 0 10px 0 15px !important;
    }
    .footer-logos {
        flex-basis: 28%;
        max-width: 250px;
    }
    .footer-buttons {
        flex-basis: 40%;
    }
    .footer > .wrapper > section {
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 780px) {
    .footer > .wrapper > section {
        flex-basis: 49%;
    }
}

@media only screen and (max-width: 630px) {
    .footericon {
        flex-basis: 100% !important;
        max-width: none !important;
    }
    .footericon > img {
        max-width: 350px;
        margin: 0 auto;
    }
    .footer-buttons {
        flex-basis: 100% !important;
    }
}

@media only screen and (max-width: 450px) {
    .footer > .wrapper >section {
        flex-basis: 100% !important;
        padding: 0 1.5em !important;
    }
    .footer-logos {
        margin: 0 auto 1em;
    }
    .footerconnect .social-icons {
        max-width: 250px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 350px) {
    .footer-buttons > * {
        flex-basis: 100%;
    }
    .footer-buttons > div {
        order: -1;
    }
}

.home-banner-container {
    position: relative;
    padding-top: 31.25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid #D1A239;
}

.home-banner-content {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em 3em;
    justify-content: center;
    align-items: center;
}

.home-banner-text {
    background: #FFFFFF;
    padding: 0.75em 1.5em;
    min-width: 40%;
    text-align: center;
    position: relative;
}

.hb-link {
    text-decoration: none !important;
}

.home-banner-text > h2 {
    font-size: 15px;
    font-family: 'Source Sans', sans-serif;
    color: black;
    text-transform: uppercase;
    margin: 0 !important;
    text-decoration: none !important;
    letter-spacing: 1.75px;
	line-height: 2;
}

.home-banner-text > img {
    position: absolute;
    width: 2.5em;
    top: -2em;
    right: -2.75em;
}

@media only screen and (min-width: 501px) {
    .hb-img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
	.home-banner-text > img {
        width: 1.5em;
        top: -1.5em;
        right: -1.75em;
    }
    .home-banner-content {
        padding: 2em !important;
        position: static !important;
    }
    .home-banner-container {
        background: none !important;
        padding: 0 !important;
    }
}

.home-info-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2.5em 1em 3em;
    justify-content: space-between;
}

.home-info-col {
    flex-basis: 27.5%;
}

.home-info-img {
    position: relative;
    margin-bottom: 2em;
}

.hi-leaf {
    position: absolute;
    width: 3em;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -1.5em;
}

.home-info-col > p {
    text-align: center;
    color: #606060;
    font-family: 'Source Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.75px;
    margin-bottom: 1.25em;
}

.home-info-col > hr {
    border-bottom: 3px solid #5A6C7D;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

@media only screen and (max-width: 700px) {
    .home-info-col {
        flex-basis: 100%;
        max-width: 640px;
    }
    .home-info-col:not(:last-child) {
        margin-bottom: 1.5em;
    }
    .home-info-container {
        justify-content: center;
    }
}

.product-banner-header {
    background-color: #2A455B;
    padding: 2em 3em;
    justify-content: center;
}

.product-banner-header > h3 {
    margin: 0 !important;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-family: 'Source Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1.75px;
    position: relative;
    text-align: center;
}

.product-banner-header > h3 > img{
    position: absolute;
    width: 2.25em;
    right: -3em;
    top: -1.5em;
}

.product-banner-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2em 1em;
}

.product-banner-product {
    flex-basis: 22.5%;
}



.product-banner-product img {
    margin-bottom: 1em;
}

.product-banner-product > a {
    text-decoration: none !important;
}

.product-banner-product h4 {
    text-transform: uppercase;
    color: #2A455B;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Source Sans', sans-serif;
}

.product-banner-product h5 {
    text-transform: uppercase;
    color: #2A455B;
    font-family: 'Source Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.75px;
}

.product-banner-product p {
    font-weight: 600;
    font-size: 15px;
    color: #2A455B;
    font-family: 'Source Sans', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0.5em !important;
}

.product-banner-product hr {
    border-bottom: 1.25px solid #5A6C7D;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

@media only screen and (min-width: 801px) {    
    .product-banner-product:not(:nth-child(4n)) {
        margin-right: 3.3%;
    }
}

@media only screen and (max-width: 800px) {
    .product-banner-product {
        flex-basis: 47.5%;
        max-width: 640px;
        margin-bottom: 1.5em;
    }
    .product-banner-product:not(:nth-child(2n)) {
        margin-right: 5%;
    }
}

@media only screen and (max-width: 425px) {
    .product-banner-product {
        flex-basis: 100%;
        margin-right: 0 !important;
    }
    .product-banner-content {
        justify-content: center;
    }
}

.connect-banner  {
    padding: 2em;
}

.connect-banner > h4 {
    text-align: center;
    text-transform: uppercase;
    color: #2A455B;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans', sans-serif;
    letter-spacing: 2.5px;
}

.connect-banner > .social-icons {
    max-width: 200px;
    margin: 1em auto 0;
}

.connect-banner a.social svg {
    width: 2em;
}

.newsletter-banner {
    background: #2A455B;
    padding: 1.5em 3em;
    margin-bottom: 1.5em;
}

.contact-us .partner-banner-wrapper {
    margin-bottom: 0 !important;
}

.newsletter-banner > h4{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Source Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2.5px;
    margin-bottom: 1.5em;
}

.nb-wpcf7 {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.nb-wpcf7 > img {
    position: absolute;
    width: 2.5em;
    top: -2em;
    left: -2.75em;
}

.nb-form {
    justify-content: space-between;
    margin-bottom: 1em;
}

.nb-form > span {
    flex-basis: 49%;
}

.nb-form input {
    font-size: 14px;
}

.nb-form input::placeholder {
    font-size: 14px;
}

.newsletter-banner .wpcf7-submit {
    display: block;
    margin: 0 auto;
}

.newsletter-banner p {
    margin-bottom: 0 !important;
}

.newsletter-banner .wpcf7-submit:hover {
    background: #5A6C7D !important;
}

@media only screen and (max-width: 550px) {
    .nb-form > span {
        flex-basis: 100%;
    }
    .nb-form > span:not(:last-of-type) {
        margin-bottom: 0.5em;
    }
}

.about-us .img-trio-wrapper {
    background: white !important;
}

.get-inspired-banner {
    background: #2A455B;
    justify-content: center;
    padding: 2.5em 3em;
}

.get-inspired-banner > h4 {
    position: relative;
    text-transform: uppercase;
    font-family: 'Source Sans', sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0 !important;
}

.get-inspired-banner > h4 > img {
    position: absolute;
    width: 2.5em;
    top: -2em;
    right: -2.75em;
}

.get-inspired-content {
    max-width: 1350px;
    margin: 0 auto;
    padding: 3em 1em;
    justify-content: space-between;
}

.inspo-previews {
    justify-content: space-between;
}

.get-inspired-preview {
    margin-bottom: 1.5em;
    flex-basis: 49%;
}

.gi-preview-content > div {
    flex-basis: 50%;
}

.gi-preview-content {
    align-items: center;
    background: #EAEAEA;
}

.gi-text {
    background: #EAEAEA;
    padding: 3em 2em;
}

.gi-text > h5 {
    text-align: center;
    text-transform: uppercase;
    color:#2A455B;
    font-family: 'Source Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 2em;
}

.gi-text > h6 {
    text-align: center;
    color: #2A455B;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Source Sans', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
}

.gi-text > hr {
    width: 50%;
    border-bottom: 3px solid #5A6C7D;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    margin-bottom: 1.5em;
}

.gi-text > p {
    text-align: center;
    color: #606060;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Source Sans', sans-serif;
    margin-bottom: 2.5em;
}

.gi-text >p.cat {
    color: #D1A239;
    font-weight: 500;
    text-transform: uppercase;
}

.gi-text > a {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Source Sans', sans-serif;
    font-size: 13px;
    background: #D1A239;
    text-align: center;
    padding: 0.3em 1.5em;
    letter-spacing: 1.5px;
}

.gi-text > a:hover {
    background: #2A455B;
}

@media only screen and (max-width: 1000px) {
    .get-inspired-preview {
        flex-basis: 100%;
        max-width: 650px;
    }
    .get-inspired-content,
    .inspo-previews{
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .gi-img > a {
        display: none;
    }
    .gi-preview-content > div {
        flex-basis: 100%;
    }
}

.insp-btn {
    display: block;
    width: 13em;
    margin: 0 auto;
    text-decoration: none !important;
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Source Sans', sans-serif;
    font-size: 13px;
    background: #D1A239;
    text-align: center;
    padding: 0.3em 1.5em;
    margin-bottom: 2.5em;
    letter-spacing: 1.5px;
}

.insp-btn:hover {
    background: #2A455B;
}

.inspo-wrapper {
    max-width: 1350px;
    margin: 0 auto;
    padding: 2em 1em;
}

h2.np {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Source Sans', sans-serif;
    color: #2A455B;
    letter-spacing: 2.25px;
    margin: 2em auto;
}

.inspo-wrapper .next,
.inspo-wrapper .prev {
    display: none;
}

.inspo-wrapper .pagination-archive {
    text-align: center;
}

.inspo-wrapper .pagination-archive span {
    color: #D1A239;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Source Sans', sans-serif;
    padding-left: 0.25em;
    padding-right: 0.5em;
}

.inspo-wrapper .pagination-archive a {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Source Sans', sans-serif;
    text-decoration: none !important;
    padding-right: 0.5em;
    color: #2A455B;
    padding-left: 0.25em;
}

.inspo-wrapper .pagination-archive a:hover {
    text-decoration: underline !important;
}

.inspo-wrapper .pagination-archive > *:not(:last-child) {
    border-right: 1px solid #2A455B;
}

.inspo-filtering {
    max-width: 750px;
    margin: 0 auto 1.5em;
}

.inspo-filtering form {
    justify-content: space-between;
}


.inspo-filtering input[type="text"],
.inspo-filtering select {
    flex-basis: 47.5%;
}

.inspo-filtering input[type="submit"] {
    display: none;
}

.inspo-filtering input[type="text"],
.inspo-filtering input[type="text"]::placeholder,
.menu-bar input[type="text"],
.menu-bar input[type="text"]::placeholder
{
    color: #2A455B;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Source Sans', sans-serif;
    letter-spacing: 1.75px;
    
}
#searchform>div {
position: relative;
}
.inspo-filtering input[type="text"],
.menu-bar input[type="text"]{
    background-image: url(assets/images/search-i.svg);
    background-repeat: no-repeat;
    padding: 0.5em 2.5em 0.5em 0.5em;
    background-position: 97% 40%;
    background-size: 1.25em;
    border: 1px solid #D1D1D1;
}

.menu-bar #searchsubmit {
    display: block;
	position: absolute;
	top:0;
	right:0;
	background: none !important;
	background-image: url(assets/images/search-i.svg);
    background-repeat: no-repeat;
	z-index: 10;
	width:32px;
	height:32px;
}

.inspo-filtering select {
    -webkit-appearance:none;
    border-radius: 0 !important;
    background-color: none !important;
    color: #2A455B;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Source Sans', sans-serif;
    letter-spacing: 1.75px;
    border: 1px solid #D1D1D1;
    padding: 0.5em 2.5em 0.5em 0.5em;
    background-position: 97% 50%;
    background-size: 1.25em;
    background-image: url(assets/images/dropdown-arrow.svg);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    .inspo-filtering > form >  * {
        flex-basis: 100% !important;
        margin-bottom: 1em;
    }
}

.post-banner {
    background: #2A455B;
    padding: 3em;
}

.post-banner-header {
    justify-content: center;
}

.post-banner  h1 {
    color: white;
    font-family: 'Source Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.25px;
    line-height: 1.5em;
    position: relative;
}

.post-banner h1 > img {
    position: absolute;
    width: 2.5em;
    top: -1.5em;
    right: -2.5em;
}

.post-banner .date {
    text-align: center;
    color: white;
    font-family: 'Source Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.75px;
}

.post-banner > hr {
    width: 7.5em;
    border-bottom: 3px solid white;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    margin-bottom: 1.5em;
}

.post-banner > .excerpt {
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: 'Source Sans', sans-serif;
    font-size: 13px;
    margin-bottom: 0 !important;
}

.single-post .cutout-leaf {
    display: none;
}

.image-trio {
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto 2em;
    padding: 2em 1em;
}

.image-trio > div {
    flex-basis: 32%;
}

@media only screen and (max-width: 600px) {
    .image-trio > div {
        flex-basis: 100%;
        margin-bottom: 1em;
    }
}

.custom-pagination {
    max-width: 1100px;
    padding: 2em 1em;
    margin: 0 auto;
}

.custom-pagination  a {
    border: none !important;
    color: #2A455B;
    font-family: 'Source Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.75px;
}

.custom-pagination a:hover {
    background: none;
    color: #D1A239;
}

.product-img {
    position: relative;
}

.pi-overlay {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.6);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.product-banner-product > a:hover .pi-overlay {
    opacity: 1;
}

.pi-overlay-square {
    padding: 0.25em 0.5em;
    border: 1px solid #D1A239;
    border-radius: 2px;
}

.gi-img > a {
    position: relative;
    display: block;
}

.gi-img > a:hover .pi-overlay {
    opacity: 1;
}

.pi-overlay-square > p {
    font-family: 'Source Sans', sans-serif;
    color: #D1A239;
    font-size: 45px;
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: bold;
    display: inline-block;
}

.hb-link:hover .home-banner-text {
    background: #D1A239;
}

.hb-link:hover .home-banner-text >h2 {
    color: white;
}


.price_slider{ 
    margin-bottom: 1em;
}
.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}
.price_slider_amount .button {
    font-size:1.15em;
}
.price_slider_amount .button {
    float: left;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}
.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #FF6B6B;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}
.ui-slider-horizontal {
    height:.5em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

.woocommerce-MyAccount-navigation  * {
    color: #2A455B;
    text-transform: uppercase;
    font-family: 'Source Sans', sans-serif !important;
    font-weight: 600 !important;
    padding: 0;
    font-size: 14px;
    margin: 0 !important;
    list-style: none;
    text-decoration: none !important;
    letter-spacing: 1.75px;
}
.woocommerce-form-register .user-role {
    display: none;
}
#customer_login h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.75px;
    padding-bottom: 0.5em;
}
#customer_login label,
#customer_login p {
    color: #606060;
    font-weight: 400;
    font-size: 13px;
}
#customer_login input[type="text"],
#customer_login input[type="email"],
#customer_login input[type="password"] {
    padding: 0.5em 1em;
}
.woocommerce-MyAccount-navigation a:hover{
    color: #5a6c7d;
}

.woocommerce-MyAccount-navigation-link--rma-requests > a::before {
    display: none;
}

.woocommerce-MyAccount-content {
    color: #606060;
    font-weight: 400;
    font-size: 13px;
}

.wc_payment_methods {
    margin-bottom: 1em !important;
}

.checkout.woocommerce-checkout div.anr_captcha_field {
    float: right;
    margin-top: 0.5em;
}

@media only screen and (max-width: 768px) {
    .checkout.woocommerce-checkout div.anr_captcha_field {
        float: none;
        width: 100% !important;
    }
}

.ethics-container {
    justify-content: center;
    padding: 1em;
}

.ethics-container > div {
    margin: 0 1.5%;
}

.ethics-container > div > img {
    height: 4.5em !important;
    width: auto !important;
}

.woocommerce-breadcrumb,
.woocommerce-breadcrumb * {
    color: #fff;
    font-family: 'Source Sans', sans-serif;
    font-size: 13px !important;
    font-weight: 500;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}